<header>
  <nav class="shell" aria-label="Main navigation">
    <a class="brand" href="{{ site.Home.RelPermalink }}#top" aria-label="{{ site.Params.productName }} home"><span class="mark" aria-hidden="true">$_</span>{{ site.Params.productName }}</a>
    <div class="nav-links">
      {{ range site.Menus.main }}
        {{ $url := .URL }}
        {{ if hasPrefix $url "#" }}{{ $url = printf "%s%s" site.Home.RelPermalink $url }}{{ end }}
        <a href="{{ $url }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
</header>
